
html{scroll-behavior: smooth;}   
body{
    font-family:'Exo 2', sans-serif;
    margin: 0;
    font-size:0;
    background-color:}

#Top{padding:0px 20px ;background-color: #FBC10B;position:static;}

#Top li a {display: inline-block;padding:12px 40px 12px 0px;width:100%;}

#Top a{
    color:#ffffff;
    text-decoration: none;
    align-content: center;
    width:100%;
    font-size: 25px; 
    font-weight:200;}

#Top ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FBC10B;width:100%}

#Top a:hover{ text-decoration: underline;}

#Top li img{
    padding: 10px 0px;}

#Home{font-size: 0;height: 100%;width:100%;margin:0}

    
#About{
    padding-top:20px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px; 
    background-color:#14A6AC;font-size: 0;}


#About h1{
    text-align: center}


#About h3{color: #ffffff;
    text-align: center;
    font-weight: 200;}


#wave{
    background-color:#14A6AC;font-size:0}


#wave img{
    width: 100%;
    height: 100%;
    }
    

#More {
    background-color: #1E7F97;
    padding-top: 21px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;0;font-size: 0;}


#More h1{
    text-align: center}

#wave2{font-size:0;background-color: white;}

#wave2 img{
    width: 100%;
    height: 100%;font-size:0}
    

#Column {;background-color:#1E7F97;
    padding-top: 40px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    align-content: center;font-size:0;}

#Column h3{
    text-align: center;
    color: #ffffff;padding-right: 20%;padding-left: 5%}

#Column p{
    color:#ffffff;
    text-align: left;
    font-weight: 200;padding-right: 10%;padding-left: 10%}

#Column img{
    width: 50%;
    align-content: center;padding-left: 20%;padding-right: 10%;}

#Work {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 100px;font-size: 0;}


#Work h1{
    color:#1E7F97;
    text-align: center;padding-bottom: 20px;}
    
#Brand{
    padding: 40px;font-size:0;}


#Brand h3{
    color:#1E7F97;text-align: left;}


#Brand p{
    color:#1E7F97;text-align: left;font-weight: 200;}


#Brand ul{
    color:#1E7F97;
    text-align: left;font-size: 18px;font-weight: 200;padding-bottom: 0px;}


#brand1{
    display: grid;
    grid-template-columns: 55% 45%;font-size: 0;}

#brand1 img{width: 90%;}


#brand2{
    display: grid;
    grid-template-columns: 50% 50% ;font-size:0; }

#brand2 a:link, a:visited {
     background-color: #F28100;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;font-weight: 300;
    display: inline-block;border-radius: 6px;}

#brand2 a:hover, a:active {
    background-color: #F28100;color:#1E7F97;}


#App{
    padding: 40px;font-size: 0;}


#App h3{
    color:#1E7F97;}


#App p{
    color:#1E7F97;
    text-align: left;
    font-weight: 200;}


#App ul{
    color:#1E7F97;
    text-align: left;
    font-size: 18px;
    font-weight: 200;}
  

#app1{
    display: grid;
    grid-template-columns: 55% 45%;
    font-size:0;}

#app1 img{ width: 90%}


#app2{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:0;}

#app2 a:link, a:visited {
    background-color: #F28100;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;font-weight: 300;
    display: inline-block;border-radius: 6px;}

#app2 a:hover, a:active {
    background-color: #F28100;
    color:#1E7F97;}

#wall{
    
    padding: 40px;font-size: 0;}


#wall h3{
    color:#1E7F97;}


#wall p{
    color:#1E7F97;
    text-align: left;
    font-weight: 200;}


#wall ul{
    color:#1E7F97;
    text-align: left;
    font-size: 18px;
    font-weight: 200;}
  

#wall1{
    display: grid;
    grid-template-columns: 55% 45%;
    font-size:0;}

#wall1 img{ width: 90%;}


#wall2{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:0;}

#wall2 a:link, a:visited {
    background-color: #F28100;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;font-weight: 300;
    display: inline-block;border-radius: 6px;}

#wall2 a:hover, a:active {
    background-color: #F28100;
    color:#1E7F97;}

#wave3{font-size: 0;}

#wave3 img{
    width: 100%;
    height: 100%;
    font-size:0;
    background-color: white;}


#Contact{
    background-color:#EB6300;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 0;}

#Contact .fa {
    padding: 34px;
    font-size: 50px;
    width:100px;
    text-align: center;
    text-decoration: none;}

#Contact ul{
    color: #ffffff;
    text-align: center;}


#Contact a{
    color:#ffffff;
    text-align: center;}

#Contact a:hover{color:#1E7F97;;}


#Contact h1{
    text-align: center;
    font-weight: 500;color: #Ffffff;}


#Contact h3{
    text-align: center;
    color: #ffffff;
    font-weight: 200;padding-left: 10px;}

#Contact ul li {
    align-content: center;
    list-style: none;
    ;font-weight: 500;}

#Contact a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
    align-content: center;}

#Contact li{
    list-style: none;}

#social a{font-size: 20px;
    font-weight: 300;
    background-color: white;
    border-radius: 6px;
    color: #f28100;
    padding:7px 30px;}

h1{
    color:#Ffffff;
    font-size: 40px;;
    font-weight:500;}


h2{
    color:#1E7F97;
    font-size: 35px;
    font-weight: 500;}


h3{
    color:#14A6AC;
    font-size: 25px;
    font-weight: 500;}


p{
    font-weight: 200;
    font-size: 18px;}

.button-round{
    border-radius: 6px;
}


