
    
body{
    font-family:'Exo 2', sans-serif;
    margin: 0;
    font-size:0;
    background-color: #FBC10B}

#Top{padding: 0px 34px 0px 34px;}

#Top li{
    float: left;}

#Top a{
    color:#ffffff;
    text-decoration: none;
    float: left;
    padding:15px 34px 5px 34px;
    width:100%;
    font-size: 30px; 
    font-weight:300;}

#Top ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FBC10B;}

#Top a:hover{
    color: #F28100;}

#Top li img{
    padding: 18px 0px 18px 0px;}

#Home{font-size: 0;}

#Home img{
    width: 100%;
    height: 100%; 
    margin: 0;font-size: 0;}

    
#About{
    padding-top:20px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px; 
    background-color:#14A6AC;font-size: 0;}


#About h1{
    text-align: center}


#About h3{color: #ffffff;
    text-align: center;
    font-weight: 200;}


#wave{
    background-color:#14A6AC;font-size:0}


#wave img{
    width: 100%;
    height: 100%;
    }
    

#More {
    background-color: #1E7F97;
    padding-top: 21px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;0;font-size: 0;}


#More h1{
    text-align: center}

#wave2{font-size:0;background-color: white;}

#wave2 img{
    width: 100%;
    height: 100%;font-size:0}
    

#Column {;background-color:#1E7F97;
    padding-top: 40px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    align-content: center;font-size:0;}

#Column h3{
    text-align: center;
    color: #ffffff;padding-right: 10%;padding-left: 5%}

#Column p{
    color:#ffffff;
    text-align: left;
    font-weight: 200;padding-right: 10%;padding-left: 10%}

#Column img{
    width: 60%;
    align-content: center;padding-left: 15%;padding-right: 10%;}

#Work {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;font-size: 0;}


#Work h1{
    color:#1E7F97;
    text-align: center}
    
#Brand{
    background-color: #14A6AC;
    padding: 40px;font-size:0;}


#Brand h3{
    color:#ffffff;text-align: left;}


#Brand p{
    color:#ffffff;text-align: left;font-weight: 200;}


#Brand ul{
    color:#ffffff;
    text-align: left;font-size: 18px;font-weight: 200;padding-bottom: 0px;}


#brand1{
    display: grid;
    grid-template-columns: 50% 50%;font-size: 0;}

#brand1 img{width: 90%;}


#brand2{
    display: grid;
    grid-template-columns: 50% 50% ;font-size:0; }

#brand2 a:link, a:visited {
    background-color: #F28100;
    color: ;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;font-size: 20px;
    display: inline-block;}

#brand2 a:hover, a:active {
    background-color: #F28100;color:#FFE38C;}


#App{
    background-color: #F8F8F8;
    padding: 40px;font-size: 0;}


#App h3{
    color:#1E7F97;}


#App p{
    color:#1E7F97;
    text-align: left;
    font-weight: 200;}


#App ul{
    color:#1E7F97;
    text-align: left;
    font-size: 18px;
    font-weight: 200;}
  

#app1{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:0;}

#app1 img{width: 90%;}


#app2{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size:0;}

#app2 a:link, a:visited {
    background-color: #F28100;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;}

#app2 a:hover, a:active {
    background-color: #F28100;
    color:#FFE38C;}

#wave3{font-size: 0;}

#wave3 img{
    width: 100%;
    height: 100%;
    font-size:0;
    background-color: white;}


#Contact{
    background-color:#F28100;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 0;}

#Contact .fa {
    padding: 34px;
    font-size: 50px;
    width:100px;
    text-align: center;
    text-decoration: none;}

#Contact ul{
    color: #ffffff;
    text-align: center;}


#Contact a{
    color:#ffffff;
    text-align: center;}

#Contact a:hover{color:#FFE38C;}


#Contact h1{
    text-align: center;
    font-weight: 500;}


#Contact h3{
    text-align: center;
    color: #ffffff;
    font-weight: 200;}

#Contact ul li {
    align-content: center;
    list-style: none;
    ;font-weight: 500;}

#Contact a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 25px;
    align-content: center;}

#Contact li{
    list-style: none;}

#social a{font-size: 20px;font-weight: 300;background-color: white;color: #f28100;padding:7px 50px;}


#social a:hover, a:active {
    color:#FFE38C;
}

h1{
    color:#Ffffff;
    font-size: 35px;;
    font-weight:500;}


h2{
    color:#1E7F97;
    font-size: 30px;
    font-weight: 500;}


h3{
    color:#14A6AC;
    font-size: 25px;
    font-weight: 500;}


p{
    font-weight: 200;
    font-size: 18px;}




